<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Contact Inquiry</title>
  </head>
  <body class="container">
    <div style=" margin:auto">
      <div style="width: 100%;margin:auto">
        <h2 style=" padding-top:20px;margin-left: auto; margin-right: auto;">Bible Summer Camp</h2>
      </div>
      <div style=" margin:auto;max-width: 600px;" >
        <img width="100%" src="https://st-joseph-media.s3.amazonaws.com/bsc.png"/>
      </div>
      <div>
        {% if status=="registered" %}
        <p>The Summer camp registration request for {{full_name}} ({{grade}}) has been <strong>confirmed.</strong></p>
        <p>To secure your spot, please bring the completed <a href="https://st-joseph-media.s3.amazonaws.com/BSC_Registration+Form_2021.pdf" >Registration Form</a> with payment to St. Joseph Coptic Church (3739 Navan Road) on Saturday March 20th at noon 12pm.</p>
        <p>We ask everyone to carefully follow these guidelines:</p>
        <ul>
          <li >Please respect the timing posted above.</li>
          <li >Only ONE member of each family can drop the Registration Form with payment.</li>
          <li >Please avoid dropping registrations for other families.</li>
          <li >A volunteer will be present to guide you.</li>
        </ul>
        {% else %}
        <p>The Summer camp registration request for {{full_name}} ({{grade}}) has been <strong>wait listed.</strong></p>
        <p>We will contact you with further updates should spots come available.</p>
        {% endif %}
        <div>
          <p>God bless all, stay safe</p>
          <p>The Bible Summer Camp</p>
          <div>
            <a href="https://www.stjosephchurch.ca" >
          </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>